<h2>{{questionNumber}}. SCSS and Flexbox</h2>
<ul class="instructions">
  <li>Code the HTML / SCSS to create the layout shown below.</li>
  <li>
    Do NOT worry about specific dimensions, padding or margins, just create the general layout.
  </li>
  <li>Use flexbox if possible.</li>
</ul>
<table class="example" cellpadding="5px" cellspacing="10px">
  <tr>
    <td>
      <div class="red">
        Left
      </div>
    </td>
    <td>
      <div class="green">
        Center
      </div>
    </td>
    <td>
      <div class="blue">
        Right
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="black">
        Full-Width Right Aligned
      </div>
    </td>
  </tr>
</table>

<!-- ENTER YOUR CODE HERE -->