/* Add application styles & imports to this file! */
* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html, body {
  margin: 0;
  color: #344;
  background-color: #234;
}